<div class="row center-align">
  <div class="col s3"></div>
  <div class="col s6">
      <button class="waves-effect waves-light btn">Leave Room</button>
  </div>
  <div class="col s3"></div>
</div>

<div class="row center-align">
  <div class="col s3"></div>
  <div class="col s6">
      <p>room works!</p>
  </div>
  <div class="col s3"></div>
</div>

<div class="row center-align">
  <div class="col s3"></div>
  <div class="col s6">
      <div>{{roomId}}</div>
  </div>
  <div class="col s3"></div>
</div>

<div class="row center-align">
  <div class="col s2"></div>
  <div class="col s7">
      <ul id="messages">
          <li>just a test</li>
          <li>to see</li>
          <li>if it works</li>
      </ul>
  </div>
  <div class="col s1">
      <ul id="guests">
          <li>bob</li>
          <li>lily</li>
          <li>julie</li>
      </ul>
  </div>
  <div class="col s2"></div>
</div>

<div class="row center-align">
  <div class="col s2"></div>
  <div class="col s8">
      <form action="">
          <input id="msg" autocomplete="off"/><button class="waves-effect waves-light btn">Send</button>
      </form>
  </div>
  <div class="col s2"></div>
</div>
