#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    background: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 3px;
}

#messages li:nth-child(odd) {
    margin-right: 10%;
}

#messages li:nth-child(even) {
    margin-left: 10%;
    background: white;
}

form {
    padding-top: 20px;
}

.chatRoom {
    border-style: solid;
    border-color: lightgrey;
    height: 286px;
}

.roomId {
    font-size: 24px;
}

#isOps{
  background-color: deeppink;
}
