<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo center">{{title}}</a>
            </div>
        </div>
    </nav>
</header>

    <!-- <div class="col s12 center-align"><h1>{{title}}</h1></div> -->
    <!-- <div class="col s12 center-align"><h5>{{underTitle}}</h5></div> -->

<router-outlet></router-outlet>

<footer class="page-footer center">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Assignment 2</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Authors</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Jóhanna María Svövudóttr</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sigrún Tinna Gissurardóttir</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Unnur Sól Ingimarsdóttir</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Text
        </div>
    </div>
</footer>
