
<h4 class= "teal-text text-lighten-2">Hey {{userName}} ! (just testing)</h4>
<div class="row">
    <div *ngFor="let room of rooms" >
        <div class="col s2 center-align lobbypic">
            <div class="card">
                <div class="card-image">
                    <img src="./kitten.jpg"/>
                    <span class="card-title">{{room}}</span>
                </div>
                <div class="card-action" (click)="onJoinRoom(room)">
                    <a class="collection-item teal-text text-lighten-2" > {{room}} </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s2 center-align lobbypic">
        <div class="card">
            <!-- <div class="card-image">
                <img src="./kitten.jpg"/>
                <span class="card-title">Add new room</span>
            </div> -->
            <div class="card-action">
                <p><input [(ngModel)]="newRoomName" placeholder="Enter a name" class="center"/></p>
                <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
            </div>
        </div>
    </div>
</div>

<div class="row center-align">
    <h5 class= "teal-text text-lighten-2">Connected Kitties</h5>
</div>
<div class="row">
    <ul id="guests" class="collection">
        <div *ngFor="let user of users">
            <li class="collection-item">{{user}}</li>
        </div>
    </ul>
</div>

<!-- <div class="row">
    <div class="col s3"></div>
    <div class="col s6 center-align lobbypic">
        <div class="card">
            <div class="card-image">
                <img src="./kitten.jpg"/>
                <span class="card-title">Add new room</span>
            </div>
            <div class="card-action">
                <p><input [(ngModel)]="newRoomName" placeholder="Enter a name for the room" class="center"/></p>
                <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
            </div>
        </div>
    </div>
    <div class="col s3"></div>
</div> -->


<!-- <div class="row center-align">
  <div class="col s3"></div>
  <div class="col s6">
      <p><input [(ngModel)]="newRoomName" placeholder="Enter a name for the room"/></p>
  </div>
  <div class="col s3"></div>
</div>

<div class="row center-align">
    <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
</div> -->
