<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h4 class= "teal-text text-lighten-2">Hey {{userName}} ! </h4>
<div class="row">
    <div *ngFor="let room of rooms" >
        <div class="col s12 m6 l3 center-align lobbypic">
            <div class="card" (click)="onJoinRoom(room)">
                <div class="card-image">
                    <img src="./kitten.jpg"/>
                    <span class="card-title">{{room}}</span>
                </div>
                <div class="card-action" >
                    <a class="collection-item teal-text text-lighten-2" > {{room}} </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3 center-align lobbypic addcard">
        <div class="card">
            <div class="card-action row">
                <p><input [(ngModel)]="newRoomName" placeholder="Enter a name" class="center"/></p>
                <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
            </div>
        </div>
    </div>
</div>

<div class="row center-align">
    <h5 class= "teal-text text-lighten-2">Connected Kitties</h5>
</div>
<div class="row center-align" *ngIf="!privateMsg">
    <ul id="guests" class="collection">
        <div *ngFor="let user of users">
          <div class="card-action" (click)="onSetTrue(user)">
            <a class="collection-item" > {{user}}  <span class="new badge" data-badge-caption=" ">Private<img src="./logo2.png" style="width:17px;height:17px;"></span></a>
          </div>
        </div>
    </ul>
</div>
<div *ngIf="privateMsg">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="privMsg" [(ngModel)]="privMsg" id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Send {{privateReceiver}} a message</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn" (click)="onSendPrivMsg()">Send!</button> <button class="waves-effect waves-light btn" (click)="onSetFalse()">close!</button>
        </form>
    </div>
</div>
<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a> -->

<!-- Modal Structure -->
<!-- <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div> -->

<!-- <div class="row">
    <div class="col s3"></div>
    <div class="col s6 center-align lobbypic">
        <div class="card">
            <div class="card-image">
                <img src="./kitten.jpg"/>
                <span class="card-title">Add new room</span>
            </div>
            <div class="card-action">
                <p><input [(ngModel)]="newRoomName" placeholder="Enter a name for the room" class="center"/></p>
                <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
            </div>
        </div>
    </div>
    <div class="col s3"></div>
</div> -->


<!-- <div class="row center-align">
  <div class="col s3"></div>
  <div class="col s6">
      <p><input [(ngModel)]="newRoomName" placeholder="Enter a name for the room"/></p>
  </div>
  <div class="col s3"></div>
</div>

<div class="row center-align">
    <button class="waves-effect waves-light btn" (click)="onNewRoom()">Add new room</button>
</div> -->
