<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<div class="row center-align">
    <div class="col s3"></div>
    <div class="col s6">
        <img src="./grumpy.jpg"/>
        <p><input [(ngModel)]="userName" placeholder="Enter your username" class="center"/></p>
    </div>
    <div class="col s3"></div>
    <div *ngIf="loginFailed center-align">
        Sorry, but this username is already taken
    </div>
</div>



<div class="row center-align">
    <p><button class="waves-effect waves-light btn center-align" (click)="onLogin()">Login</button></p>
</div>
